<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      VideosApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
       <ion-title size="large">VideosApp</ion-title>
    </ion-toolbar>
  </ion-header>
  <img src="https://avatars.githubusercontent.com/u/86686218?v=4" alt="">
     <h1>Ivan JC Correia</h1>
     <p>Estudante do ISP-Caála.</p>
    <a href ="mailto:ivanjacobcorreia@gmail.com">ivanjacobcorreia@gmail.com</a>
  
</ion-content>
